.over{
    width:100%;
    height:100vh;

    top:0;
    left:0;
    position:fixed;
    background: #ffa8cd;
    transform:scaleX(0);
    transform-origin: right;
    z-index: 999;


  }
  .over2{
    width:100%;
    height:100vh;
    top:0;
    left:0;
    position:fixed;
    background: #4cd3c2;
    transform:scaleX(0);
    transform-origin: right;
    z-index: 9999;


  }
  .over3{
    width:100%;
    height:100vh;
    top:0;
    left:0;
    position:fixed;
    background: #30d692;
    transform:scaleX(0);
    transform-origin: right;


    z-index: 99;


  }
  .go {
      background: #00ff73;
      padding: 5px 12px;
      color: #483000;
      position: absolute;
      cursor: pointer;
      top: 50%;
      left: 50%;
      z-index: 1;
  }
