body {
    background-color: #141615;
}

.mobile{
    display: none;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: black;
}

.central-illustration {
    height: 80vh;
    width: 34vw;
    bottom: 0;
    position: fixed;
}

.matrix-gif {
    height: 40vh;
    width: 23vw;
    margin-left: 6%;
    position: absolute;
}

.posAndShapeContactUs {
    top: 2%;
}

.posAndShapeTeam {
    top: 15%;
}

.posAndShapeAttractions {
    top: 30%;
}

.posAndShapeEvents{
    top: 2%;
}

.posAndShapeAboutUs{
    top: 15%;
}

.posAndShapeLive{
   top: 30%;
}

.nav-card {
    position: absolute;
    background-color: #30D692;
    opacity: 0.3;
    font-weight: 800;
    font-size: 25px;
    border-radius: 10px;
    padding: 10px;
}

@media only screen and (max-width: 1000px) {
    .central-illustration {
        height: 80vh;
        width: 38vw;
    }

    .matrix-gif {
        width: 27vw;
    }
}

@media only screen and (max-width: 600px) {
    .desktop {
        display: none;
    }

    .mobile{
        display: block;
    }

    .central-illustration {
        height: 80vh;
        width: inherit;
    }

    .matrix-gif {
        width: inherit;
    }

}